<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="studis-ear-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="studis-ejb-0.0.1-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/studis-ejb/studis-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang3-3.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-lang3/3.0/commons-lang3-3.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="studis-web-0.0.1-SNAPSHOT.war" deploy-path="/" handle="module:/resource/studis-web/studis-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="studis-jpa-0.0.1-SNAPSHOT.jar" deploy-path="/lib" handle="module:/resource/studis-jpa/studis-jpa">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="studis-rest-0.0.1-SNAPSHOT.war" deploy-path="/" handle="module:/resource/studis-rest/studis-rest">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
